---
import Badge from "./Badge";
import ImagesCarousel from "./ImagesCarousel";
import Card from "@/components/Card";
import type { MarkdownInstance } from "astro";
import ExternalLink from "./ExternalLink";
import ProjectImagesSkeleton from "./ProjectImagesSkeleton";

export type TagsType = {
    front: string[];
    back: string[];
    fullStack: string[];
    appType: string[];
};

export type ProjectLinkType = {
    url: string;
    text: string;
    title: string;
    type: "repo" | "app";
};

export type ProjectFrontmatter = {
    title: string;
    images: string[];
    description: string;
    links: ProjectLinkType[];
    tags: TagsType;
};

export type ProjectType = MarkdownInstance<ProjectFrontmatter>;

export interface ProjectCardProps {
    project: ProjectType;
    className?: string;
}

interface Props {
    project: ProjectType;
}

const { project } = Astro.props;
const { title, images, description, links, tags } = project.frontmatter;
---

<Card className="px-5 py-5 text-center md:px-4 min-w-full">
    <h2 class="mb-2 text-2xl font-bold leading-none">{title}</h2>

    <h3 class="mb-4 font-bold text-center">{description}</h3>
    <div class="flex flex-wrap justify-center gap-2">
        {
            Object.keys(tags).map((spec) =>
                tags[spec as keyof TagsType].map((tech) => (
                    <Badge variant={spec as keyof TagsType}>{tech}</Badge>
                )),
            )
        }
    </div>

    {
        images?.length ? (
            <ImagesCarousel images={images} title={title} client:only="react">
                <ProjectImagesSkeleton slot="fallback" />
            </ImagesCarousel>
        ) : null
    }

    <div class="flex h-full mt-4 md:px-10">{project.rawContent}</div>
    <div class="flex flex-row flex-wrap justify-center gap-6 mt-4">
        {
            links?.map((link) => (
                <ExternalLink
                    link={link.url}
                    text={link.text}
                    title={link.title}
                    type={link.type}
                />
            ))
        }
    </div>
</Card>
